body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: Black;
}

.header {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

p{
  color: Grey;
  display: block;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}

.subheading {
  font-weight: 300;
  font-size: 42px;
}
